/node_modules
/public/hot
/public/js
/public/css/app.css
/public/css/game.css
/public/css/main.css
/public/storage
/resources/js/game/configs.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
