/node_modules
/public/hot
/public/js
/public/css/app
/public/css/game
/public/css/main
/public/storage
/resources/js/game/configs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
