// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~swiper/css/swiper.min.css';
@import 'libs/swiper';
@import "~anypicker/dist/anypicker-all.min.css";

@font-face {
    font-family: 'FuturaPress';
    src: url('../font/FuturaPressPress.eot');
    src: url('../font/FuturaPressPress.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaPressPress.woff2') format('woff2'),
    url('../font/FuturaPressPress.woff') format('woff'),
    url('../font/FuturaPressPress.ttf') format('truetype'),
    url('../font/FuturaPressPress.svg#FuturaPressPress') format('svg');
    font-weight: normal;
    font-style: normal;
}
