* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

hr {
    width: 100%;
}

button {
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: rgb(230, 230, 230);
}

button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#play-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

#play-menu p {
    margin-bottom: 0;
}

#play-menu input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

#play-menu input:hover {
    outline: none;
}

#leaderboard {
    position: fixed;
    top: 10px;
    right: 10px;
    border: 5px solid #A63333;
    padding: 3px;
    border-radius: 200px;
    color: #A63333;
    font-size: 18px;
    .me {
        color: blue;
        font-weight: 700;
    }

    th {
        text-align: center;
        padding: 10px 10px;
    }

    td {
        text-align: left;
        padding: 0 3px;
    }
    td:first-child {
        text-align: center;
    }
    #score {
        border-top: 5px solid #A63333;
        text-align: center;
        h2 {
            margin: 0;
            font-size: 40px;
        }
        span {
            font-size: 15px;
        }
    }
}

#disconnect-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 15px 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    #play-menu {
        padding: 10px 15px;
        min-width: 280px;
    }

    #disconnect-modal > div {
        padding: 10px;
        min-width: 280px;
    }

    #leaderboard th {
        padding: 0 3px;
    }

    #leaderboard td {
        padding: 0 3px;
    }

    #leaderboard table {
        font-size: 13px;
    }
}

#game-over {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info {
    display: flex;
    justify-content: center;
    //background-color: rgb(56, 56, 56);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    color: #A63333;
    transition: all 1s linear;
    div {
        width: 50px;
        height: 50px;
        margin: 0 3px;
        border: 4px solid #A63333;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        p {
            position: absolute;
            top: -50%;
            right: 0;
            left: 0;
            text-align: center;
            margin: 0;
            font-size: 30px;
            font-weight: bold;
            color: #eee;
            //text-shadow:
            //    -1px -1px 0 #A63333,
            //    1px -1px 0 #A63333,
            //    -1px 1px 0 #A63333,
            //    1px 1px 0 #A63333;
            -webkit-text-fill-color: #eee;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: #A63333;
        }
        span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
    }
    div:nth-child(2) {
        transform: scale(1.3);
    }
}

//#kill {
//    background-color: rgb(56, 56, 56);
//    position: fixed;
//    top: 5px;
//    left: 5px;
//    padding: 8px;
//    color: #ffeaea;
//}


/* a {
  font-size: calc( 25px + ( 40 - 25 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
} */
