* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'FuturaPress', sans-serif;
}

@font-face {
    font-family: 'FuturaPress';
    src: url('../font/FuturaPressPress.eot');
    src: url('../font/FuturaPressPress.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaPressPress.woff2') format('woff2'),
    url('../font/FuturaPressPress.woff') format('woff'),
    url('../font/FuturaPressPress.ttf') format('truetype'),
    url('../font/FuturaPressPress.svg#FuturaPressPress') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

hr {
    width: 100%;
}

button {
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: rgb(230, 230, 230);
}

button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#play-menu {
    display: none!important;
}

#leaderboard {
    position: fixed;
    top: 10px;
    right: 10px;
    border: 5px solid #A63333;
    padding: 3px;
    border-radius: 200px;
    color: #A63333;
    font-size: 18px;
    .me {
        color: blue;
        font-weight: 700;
    }

    th {
        text-align: center;
        padding: 10px 10px;
    }

    td {
        text-align: left;
        padding: 0 3px;
    }
    td:first-child {
        text-align: center;
    }
    #score {
        border-top: 5px solid #A63333;
        text-align: center;
        h2 {
            margin: 0;
            font-size: 40px;
        }
        span {
            font-size: 15px;
        }
    }
}

#disconnect-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #a63333;
    letter-spacing: 3px;
    #reconnect-button {
        margin-top: 8px;
        background-color: #A63333;
        color: #eee;
        -webkit-text-fill-color: #eee;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #A63333;
        letter-spacing: 4.5px;
    }
}

#disconnect-modal > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 15px 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    #play-menu {
        padding: 10px 15px;
        min-width: 280px;
    }

    #disconnect-modal > div {
        padding: 10px;
        min-width: 280px;
    }

    #leaderboard th {
        padding: 0 3px;
    }

    #leaderboard td {
        padding: 0 3px;
    }

    #leaderboard table {
        font-size: 13px;
    }
}

#game-over {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info {
    display: flex;
    justify-content: center;
    //background-color: rgb(56, 56, 56);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    color: #A63333;
    transition: all 1s linear;
    div {
        width: 50px;
        height: 50px;
        margin: 0 3px;
        border: 4px solid #A63333;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        p {
            position: absolute;
            top: -50%;
            right: 0;
            left: 0;
            text-align: center;
            margin: 0;
            font-size: 30px;
            font-weight: bold;
            color: #eee;
            -webkit-text-fill-color: #eee;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: #A63333;
        }
        span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
    }
    div:nth-child(2) {
        transform: scale(1.3);
    }
}

#how_to_play {
    position: absolute;
    background-color: rgba(245, 245, 245, 0.6);
    top: 10px;
    left: 20px;
    text-align: center;
    width: calc( 140px + ( 400 - 140 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
    border: calc( 3px + ( 5 - 3 ) * ( 100vw - 320px ) / ( 1920 - 320 ) ) solid #a63333;
    border-radius: 50px;
    .header {
        display: flex;
        position: relative;
        h2 {
            width: 100%;
            color: #a63333;
            margin: 5px 10px;
            font-size: calc( 16px + ( 35 - 16 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            letter-spacing: 2px;
        }
        button {
            display: none;
            position: absolute;
            right: 10px;
            color: #a63333;
            font-size: calc( 16px + ( 35 - 16 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            background-color: transparent;
            border: none;
            outline: none;
        }
        button.active {
            display: block;
        }
    }
    .img {
        height: 0;
        display: flex;
        opacity: 0;
        transition: all .8s ease-in-out;
        img {
            width: 100%;
        }
    }
    .img.show {
        height: calc( 140px + ( 427 - 140 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
        padding: 0 20px 20px;
        opacity: 1;
    }
    #close_how_to_play {
        display: none;
    }
    #close_how_to_play.active {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

@media (max-width: 991px ) {
    #game-info {
        padding: 10px;
        div {
            width: 25px;
            height: 25px;
            margin: 0 1.5px;
            border: 2px solid #A63333;
            p {
                top: -55%;
                font-size: 18px;
            }
            span {
                font-size: 16px;
            }
        }
        div:nth-child(2) {
            transform: scale(1.3);
        }
    }
    #leaderboard {
        position: fixed;
        top: 5px;
        right: 5px;
        border: 2px solid #A63333;
        padding: 1.5px;
        border-radius: 200px;
        color: #A63333;
        font-size: 13px;
        .me {
            color: blue;
            font-weight: 400;
        }

        th {
            text-align: center;
            padding: 10px 10px;
        }

        td {
            text-align: left;
            padding: 0 3px;
        }
        td:first-child {
            text-align: center;
        }
        #score {
            border-top: 2px solid #A63333;
            text-align: center;
            h2 {
                margin: 0;
                font-size: 20px;
                font-weight: 400;
            }
            span {
                font-size: 12px;
            }
        }
    }
    #how_to_play {
        button {
            display: none!important;
        }
    }
}
