* {
    padding: 0;
    margin: 0;
    outline: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #E1E1E1;
    font-family: 'FuturaPress Press', sans-serif;
    color: #A63333;
}

/*-----HOME-----*/

.menu-buttons.float-right {
    margin-right: 15px;
    .logo {
        margin-bottom: 100px;
    }
    .menu {
        margin-bottom: 50px;
        .item {
            margin-bottom: 30px;
            .account {
                background-color: #A63333;
                border-radius: 50%;
                width: 56px;
                height: 56px;
                color: #DEDEDE;
                .lvl {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 11px;
                }
                .lvl-count {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 38px;
                }
            }
        }
    }
}

#shareBtn {
    cursor: pointer;
    z-index: 2;
}

#share-buttons {
    display: none;
    z-index: 1;
    div {
        padding: 0 10px;
    }
}

#share-buttons:after {
    content: '';
    background: url("../images/menu/sharebg.png") no-repeat;
    background-position: -114px -10px;
    top: -15px;
    position: absolute;
    padding: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#share-buttons.active {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 80px;
}

.switrio {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 70%;
    }
}

.play-btn {
    #playBtn {
        margin: auto;
        max-width: 60%;
    }
    .form-control-plaintext {
        font-family: 'FuturaPress Press', sans-serif;
        font-size: 23px;
        color: #A63333;
        letter-spacing: 4px;
    }
    .form-control-plaintext::placeholder {
        color: #A63333;
    }
}

/*-----LOGIN-----*/
#loginPage {
    form {
        label {
            font-size: 23px;
            letter-spacing: 4.5px;
        }
        input {
            width: 100%;
            height: 93%;
            padding: 8px;
            padding-left: 10px;
            background-color: #E1E1E1 !important;
            border: 3px solid #A63333;
            border-radius: 20px;
            outline: none;
        }
        a {
            color: #A63333;
            font-size: 17px;
            letter-spacing: .5px;
        }
    }
    .register {
        position: relative;
        margin-top: 100px;
        justify-content: space-evenly;
        border-radius: 999px;
        filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
        background: transparent;
        border: 50px solid #eee;

        .google-register,
        .default-register,
        .facebook-register {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #A63333;
            border-radius: 999px;
            transition: all .4s ease-in-out;
            width: calc( 50px + ( 136 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            height: calc( 50px + ( 136 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );

            a {
                color: #E0E0E0;
                font-size: calc( 30px + ( 80 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            }
            svg {
                width: calc( 15px + ( 60 - 15 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            }
        }
        .default-register:hover,
        .google-register:hover,
        .facebook-register:hover {
            transform: scale(1.25);
        }
        p {
            color: #A63333;
            font-size: calc( 13px + ( 36 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            margin: 0;
        }
    }
    .register:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(0, #fff, transparent);
        border-radius: 999px;
        z-index: -1;
    }
}

a.btn:focus {
    outline: none;
    box-shadow: none;
}

.back-btn {
    i {
        color: #A63333;
        font-size: 58px;
    }
}
.form-btn {
    button, p {
        display: flex;
        align-items: center;
        padding: 0 .5em;
        color: #A63333;
        font-size: calc( 30px + ( 89 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
        letter-spacing: 4.5px;
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        position: relative;
    }
    button:after,
    button:before,
    p:after,
    p:before {
        content: '';
        width: .2em;
        height: .22em;
        background: #A63333;
        border-radius: .2em;
        position: absolute;
        right: 0;
    }
    button:before,
    p:before {
        left: 0;
    }
    button:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
    button:hover,
    button:focus,
    button:active {
        color: #A63333;
    }
}

/*-----REGISTER-----*/
#registerPage {
    .register {
        position: relative;
        margin-top: 100px;
        justify-content: space-evenly;
        border-radius: 999px;
        filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
        background: transparent;
        border: 50px solid #eee;
    }
    .register:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(0, #fff, transparent);
        border-radius: 999px;
        z-index: -1;
    }
    form {
        label {
            font-size: calc( 13px + ( 23 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            letter-spacing: 4.5px;
        }
        input {
            width: 100%;
            height: 93%;
            padding: 8px;
            padding-left: 10px;
            background-color: #E1E1E1 !important;
            border: 3px solid #A63333;
            border-radius: 20px;
            outline: none;
        }
        .conditions {
            letter-spacing: 1px;
        }
        .conditions + div {
            display: flex;
            justify-content: flex-start;
            input {
                width: 40px;
                position: relative;
            }
            input:after {
                content: "";
                width: calc(32px + ( 40 - 32 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
                height: calc(32px + ( 40 - 32 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
                background-color: transparent;
                border: 3px solid #A63333;
                border-radius: 50px;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
            label {
                display: flex;
                align-items: center;
            }
        }
    }
}

/*-----PROFILE-----*/
.formContent {
    position: relative;
    margin-top: 100px;
    justify-content: space-evenly;
    border-radius: 999px;
    filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
    background: transparent;
    border: 50px solid #eee;
}
.formContent:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0, #fff, transparent);
    border-radius: 999px;
    z-index: -1;
}
#profile {
    .account-lvl {
        display: flex;
        align-items: center;
    }
    .account-lvl > div {
        width: calc(50px + ( 140 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        height: calc(50px + ( 140 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        border-radius: 100px;
        border: 3px solid #A63333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .lvl {
            font-size: calc(11px + ( 20 - 11 ) * ( 100vw - 320px ) / ( 1920 - 320 ));;
        }
        .lvl-count {
            height: 80%;
            font-size: calc(30px + ( 94 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        }
    }
    .account-info {
        font-size: calc(30px + ( 30 - 14 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        letter-spacing: .5px;
        p {
            overflow: hidden;
        }
        a {
            font-size: inherit;
            color: #A63333;
        }
    }
    .notifications {
        p {
            font-size: calc(30px + ( 30 - 14 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
            letter-spacing: .5px;
        }
        form {
            div {
                align-items: center;
            }
            label {
                font-size: calc(10px + ( 14 - 10 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
                letter-spacing: .5px;
                margin: 0;
                padding-right: 1em;
            }
        }
    }
    #carousel {
        ol {
            justify-content: space-evenly;
            align-items: baseline;
            width: 60%;
            margin: auto;
            li {
                list-style-type: none;
                text-align: center;
                transition: all .5s ease-in-out;
                position: relative;
                p {
                    display: none;
                    opacity: 0;
                }
            }
            li.active {
                transform: scale(1.5);
                p {
                    display: block;
                    opacity: 1;
                }
            }
            li.dot {
                flex-basis: 22px;
                height: 22px;
                background: #A63333;
                border-radius: 22px;
            }
        }
        .carousel-inner {
            .carousel-item {
                padding: 3% 13% 13%;
            }
        }
    }
    .formContent {
        margin-top: 0;
    }
    .carousel-control-prev,
    .carousel-control-next {
        color: #A63333;
        font-size: 6em;
        opacity: 1;
    }
    .transactions {
        table {

        }
    }
}

/*-----COINS-----*/
#coin {
    .coin-count {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #DEDEDE;
    }
    .popular>div, .best {
        background-color: #A63333;
        h4 {
            color: #FFFFFF;
            position: absolute;
            font-size: 15px;
            text-align: center;
            top: 0;
        }
    }
    .best>div {
        background-color: #009223;
    }
}

