* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'FuturaPress', sans-serif;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #E1E1E1;
    color: #A63333;
}

/*-----HOME-----*/

.menu-buttons.float-right {
    margin-right: 15px;
    .logo {
        margin-bottom: 70px;
    }
    .menu {
        margin-bottom: 40px;
        .item {
            margin-bottom: 20px;
            .account {
                background-color: #A63333;
                border-radius: 50%;
                width: 56px;
                height: 56px;
                color: #DEDEDE;
                .lvl {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 11px;
                }
                .lvl-count {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 38px;
                }
            }
        }
    }
}

#shareBtn {
    cursor: pointer;
    z-index: 2;
}

#share-buttons {
    display: none;
    z-index: 1;
    div {
        padding: 0 10px;
    }
}

#share-buttons:after {
    content: '';
    background: url("../images/menu/sharebg.png") no-repeat;
    background-position: -114px -10px;
    top: -15px;
    position: absolute;
    padding: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#share-buttons.active {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 80px;
}

.switrio {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
    div.img {
        //width: 80%;
        border: 50px solid #eee;
        border-radius: 300px;
        position: relative;
        height: 365px;
        //height: calc( 290px + ( 365 - 290 ) * ( 100vw - 900px ) / 1020 );
        img {
            top: -15%;
            left: -3%;
            z-index: -1;
            width: 106%;
            position: relative;
        }
    }
}

.play-btn {
    #playBtn {
        margin: auto;
        max-width: 60%;
        font-family: 'FuturaPress', sans-serif;
    }
    .form-control-plaintext {
        font-size: 23px;
        color: #A63333;
        letter-spacing: 4px;
        width: 200px;
        margin: auto;
    }
    .form-control-plaintext::placeholder {
        color: #A63333;
    }
}

/*-----LOGIN-----*/
#loginPage {
    form {
        label {
            font-size: 23px;
            letter-spacing: 4.5px;
        }
        input {
            width: 100%;
            height: 93%;
            padding: 8px;
            padding-left: 10px;
            background-color: #E1E1E1 !important;
            border: 3px solid #A63333;
            border-radius: 20px;
            outline: none;
            color: #A63333;
        }
        a {
            color: #A63333;
            font-size: 17px;
            letter-spacing: .5px;
        }
    }
    .register {
        //position: relative;
        //margin-top: 100px;
        justify-content: space-evenly;
        align-items: center;
        //border-radius: 999px;
        //filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
        //background: transparent;
        //border: 50px solid #eee;

        .google-register,
        .default-register,
        .facebook-register {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #A63333;
            border-radius: 999px;
            transition: all .4s ease-in-out;
            width: calc( 50px + ( 136 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            height: calc( 50px + ( 136 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );

            a {
                color: #E0E0E0;
                font-size: calc( 30px + ( 80 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            }
            svg {
                width: calc( 15px + ( 60 - 15 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            }
        }
        .default-register:hover,
        .google-register:hover,
        .facebook-register:hover {
            transform: scale(1.25);
        }
        .text {
            position: absolute;
            bottom: 0;
        }
        p {
            color: #A63333;
            font-size: calc( 13px + ( 36 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            margin: 0;
        }
    }
    .register:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(0, #fff, transparent);
        border-radius: 999px;
        z-index: -1;
    }
}

a.btn:focus {
    outline: none;
    box-shadow: none;
}

.back-btn {
    i {
        color: #A63333;
        font-size: 58px;
    }
}
.form-btn {
    button, p {
        display: flex;
        align-items: center;
        padding: 0 .5em;
        color: #A63333;
        font-size: calc( 30px + ( 89 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
        letter-spacing: 14px;
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        position: relative;
    }
    button:after,
    button:before,
    p:after,
    p:before {
        content: '';
        width: .2em;
        height: .22em;
        background: #A63333;
        border-radius: .2em;
        position: absolute;
        right: 0;
    }
    button:before,
    p:before {
        left: 0;
    }
    button:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
    button:hover,
    button:focus,
    button:active {
        color: #A63333;
    }
}

/*-----REGISTER-----*/
#registerPage {
    .register {
        position: relative;
        margin-top: 100px;
        justify-content: space-evenly;
        border-radius: 999px;
        filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
        background: transparent;
        border: 50px solid #eee;
    }
    .register:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(0, #fff, transparent);
        border-radius: 999px;
        z-index: -1;
    }
    form {
        label {
            font-size: calc( 13px + ( 23 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
            letter-spacing: 4.5px;
        }
        input {
            width: 100%;
            height: 93%;
            padding: 8px;
            padding-left: 10px;
            background-color: #E1E1E1 !important;
            border: 3px solid #A63333;
            border-radius: 20px;
            outline: none;
            color: #A63333;
        }
        .conditions {
            letter-spacing: 1px;
        }
        .conditions + div {
            display: flex;
            justify-content: flex-start;
            input {
                width: 40px;
                position: relative;
            }
            input:after {
                content: "";
                width: calc(32px + ( 40 - 32 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
                height: calc(32px + ( 40 - 32 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
                background-color: transparent;
                border: 3px solid #A63333;
                border-radius: 50px;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
            label {
                display: flex;
                align-items: center;
            }
        }
    }
}

/*-----PROFILE-----*/
.formContent {
    height: calc( 290px + ( 365 - 290 ) * ( 100vw - 900px ) / ( 1920 - 900 ) );
    position: relative;
    max-width: 1065px;
    margin: auto;
    margin-top: 70px;
    justify-content: space-evenly;
    border-radius: 999px;
    filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
    background: transparent;
    border: 50px solid #eee;
    //padding: 40px;
}
.formContent:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0, #fff, transparent);
    border-radius: 999px;
    z-index: -1;
}
//.formContent:before {
//    content: "";
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    border-radius: 999px;
//    border: 50px solid #eee;
//    z-index: 1;
//}
#profile {
    .account-lvl {
        display: flex;
        align-items: center;
    }
    .account-lvl > div {
        width: calc(50px + ( 140 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        height: calc(50px + ( 140 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        border-radius: 100px;
        border: 3px solid #A63333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .lvl {
            font-size: calc(11px + ( 20 - 11 ) * ( 100vw - 320px ) / ( 1920 - 320 ));;
        }
        .lvl-count {
            height: 60%;
            font-size: calc(30px + ( 94 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
            display: flex;
            align-items: center;
        }
    }
    .account-info {
        font-size: calc(30px + ( 30 - 14 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
        letter-spacing: .5px;
        p {
            overflow: hidden;
        }
        a {
            font-size: inherit;
            color: #A63333;
        }
    }
    .notifications {
        p {
            font-size: calc(30px + ( 30 - 14 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
            letter-spacing: .5px;
        }
        form {
            div {
                align-items: center;
            }
            label {
                font-size: calc(13px + ( 16 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
                letter-spacing: .5px;
                margin: 0;
                padding-right: 1em;
            }
        }
    }
    #carousel {
        .carousel-indicators {
            position: static;
            li {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: auto;
                height: auto;
                margin-right: 0;
                margin-left: 0;
                text-indent: 0;
                cursor: pointer;
                background-color: transparent;
                background-clip: padding-box;
                border-top: none;
                border-bottom: none;
                opacity: 1;
            }

        }
        ol {
            justify-content: space-evenly;
            align-items: baseline;
            width: 60%;
            margin: auto;
            li {
                list-style-type: none;
                text-align: center;
                transition: transform .4s ease-in-out;
                position: relative;
                p {
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: none;
                    opacity: 0;
                }
            }
            li.active {
                transform: scale(1.5);
                p {
                    display: block;
                    opacity: 1;
                }
            }
            li.dot {
                cursor: default;
                pointer-events: none;
                flex-basis: 22px;
                height: 22px;
                background: #A63333;
                border-radius: 22px;
            }
        }
        .carousel-inner {
            .carousel-item {
                padding: 3% 13% 13%;
            }
        }
    }
    .formContent {
        margin-top: 0;
    }
    .carousel-control-prev,
    .carousel-control-next {
        color: #A63333;
        font-size: 6em;
        opacity: 1;
    }
    .transactions {
        table {
            color: #A63333;
            thead {
                th {
                    font-size: calc( 14px + ( 26 - 14 ) * (100vw - 320px) / 1600);
                }
            }
            tbody {
                tr {
                    td {
                        font-size: calc( 12px + ( 19 - 12 ) * (100vw - 320px) / 1600);
                    }
                    td:nth-of-type(1) {
                        color: #000000;
                        font-weight: bold;
                    }
                    td:nth-of-type(2) {
                        color: #A63333;
                        font-weight: bold;
                    }
                    td:nth-of-type(3) {
                        color: #FFB200;
                        font-weight: bold;
                    }
                    td.stripe {
                        color: #6772E5;
                        font-size: 20px;
                    }
                    td.bitcoin {
                        color: #F7A70A;
                        font-size: 20px;
                    }
                    td.paypal {
                        font-size: 20px;
                    }
                    td.approved {
                        color: #20B716;
                        font-weight: bold;
                    }
                    td.rejected {
                        color: #FF0000;
                        font-weight: bold;
                    }
                    td.returned {
                        color: #333EA6;
                        font-weight: bold;
                    }

                }
            }
        }
    }
    .form-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/*-----COINS-----*/
#coin {
    .formContent {
        margin-top: 0;
        div[data-id] {
            cursor: pointer;
        }
        //div[data-id]:last-child {
        //    border-top-right-radius: 80px;
        //    border-bottom-right-radius: 80px;
        //    overflow: hidden;
        //}
    }
    .coin-count {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #DEDEDE;
    }
    .popular>div, .best {
        background-color: #A63333;
        h4 {
            color: #FFFFFF;
            position: absolute;
            font-size: 15px;
            text-align: center;
            top: 0;
        }
    }
    .best>div {
        background-color: #009223;
    }
    .your-coins {
        div.position-relative {
            p {
                font-size: 45px;
                letter-spacing: 0.5px;
            }
        }
        p {
            font-size: 23px;
            letter-spacing: 4.5px;
        }
    }
    #payment_page {
        display: none;
        .formContent {
            p {
                font-size: calc( 18px + ( 27 - 18 ) * (100vw - 320px) / 1600 );
                letter-spacing: .5px;
            }
        }
        .payment {
            font-size: 60px;
        }
        .stripeBtn {
            color: #6772E5;
            outline: none;
        }
        button:focus {
            box-shadow: none;
        }
        .bitcoinBtn {
            color: #F7A70A;
        }
    }
    #coin_success {
        .formContent {
            img {
                width: 90%;
            }
            h1 {
                font-size: calc( 23px + ( 43 - 23 ) * (100vw - 320px) / 1600 );
                letter-spacing: 1px;
            }
            p {
                font-size: calc( 16px + ( 23 - 16 ) * (100vw - 320px) / 1600 );
                letter-spacing: 1px;
            }
            p.coin-count {
                font-size: calc( 25px + ( 39 - 25 ) * (100vw - 320px) / 1600 );
                letter-spacing: 1px;
            }
        }
    }
}

/*-----BOOSTS-----*/

#boosts {
    #carousel {
        .carousel-indicators {
            position: static;
            li {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: auto;
                height: auto;
                margin-right: 0;
                margin-left: 0;
                text-indent: 0;
                cursor: pointer;
                background-color: transparent;
                background-clip: padding-box;
                border-top: none;
                border-bottom: none;
                opacity: 1;
            }

        }
        ol {
            justify-content: space-evenly;
            align-items: baseline;
            width: 60%;
            margin: auto;
            li {
                list-style-type: none;
                text-align: center;
                transition: all .5s ease-in-out;
                position: relative;
                p {
                    display: none;
                    opacity: 0;
                }
            }
            li.active {
                transform: scale(1.5);
                p {
                    display: block;
                    opacity: 1;
                }
            }
            li.dot {
                cursor: default;
                pointer-events: none;
                flex-basis: 22px;
                height: 22px;
                background: #A63333;
                border-radius: 22px;
            }
        }
        .carousel-inner {
            .carousel-item {
                padding: 3% 13% 13%;
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        color: #A63333;
        font-size: 6em;
        opacity: 1;
    }
    .transactions {
        table {

        }
    }
    .form-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .formContent {
        margin-top: 0;
        .switches-content {
            &:nth-of-type(2) {
                color: #333BA6;
            }
            &:nth-of-type(3) {
                color: #FFB800;
                .bg-danger {
                    color: #eee;
                    border-radius: 20px;
                    padding: 1px 5px;
                }
            }
        }
    }
}

.c-pointer {
    cursor: pointer;
}

.boosts-count-slider {
    display: flex;

    .boosts-count {
        div {
            justify-content: center;
            height: 33.33%;
            display: flex;
            align-items: center;
            font-size: 42px;
        }
    }
    .slideBtn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        .nextBtn, .prevBtn {
            position: absolute;
            font-size: 60px;
            display: flex;
            i {
                height: 42px;
            }
        }
        .nextBtn {
            bottom: 0;
            align-items: flex-start;
        }
        .prevBtn {
            bottom: 90%;
            align-items: flex-end;
        }
    }
}

@media (max-width: 1200px) {
    .switrio {
        div.img {
            height: calc( 290px + ( 365 - 290 ) * ( 100vw - 900px ) / ( 1200 - 900 ) )
        }
    }
}
