html, body {
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient(closest-side, red, green);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-menu {
    width: 80vw;
    max-width: 400px;
    min-width: 280px;
    margin: auto;
}
