* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "FuturaPress", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #E1E1E1;
  color: #A63333;
}

/*-----HOME-----*/

.google-reklam {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: calc( 250px + ( 300 - 250 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
  height: calc( 200px + ( 250 - 200 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

.menu-buttons.float-right {
  margin-right: 15px;
}

.menu-buttons.float-right .logo {
  margin-bottom: calc( 25px + ( 70 - 25 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

.menu-buttons.float-right .menu {
  margin-bottom: calc( 16px + ( 40 - 16 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

.menu-buttons.float-right .menu .item {
  margin-bottom: calc( 16px + ( 40 - 16 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

.menu-buttons.float-right .menu .item .account {
  background-color: #A63333;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  color: #DEDEDE;
}

.menu-buttons.float-right .menu .item .account .lvl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
}

.menu-buttons.float-right .menu .item .account .lvl-count {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 38px;
}

#shareBtn {
  cursor: pointer;
  z-index: 2;
}

#share-buttons {
  display: none;
  z-index: 1;
}

#share-buttons div {
  padding: 0 10px;
}

#share-buttons:after {
  content: "";
  background: url(/images/sharebg.png?03d373739a33c6a06dfd4cb491d50f3f) no-repeat;
  background-position: -114px -10px;
  top: -15px;
  position: absolute;
  padding: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#share-buttons.active {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 80px;
}

.switrio {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
}

.switrio div.img {
  border: calc( 40px + ( 50 - 40 ) * ( 100vw - 900px ) / ( 1920 - 900 ) ) solid #eee;
  overflow: hidden;
  border-radius: 300px;
  position: relative;
  height: calc( 290px + ( 365 - 290 ) * ( 100vw - 900px ) / 1020 );
}

.switrio div.img img {
  top: -16%;
  left: -3%;
  z-index: -1;
  width: 106%;
  position: relative;
}

.play-btn #playBtn {
  margin: auto;
  margin-top: 50px;
  max-width: 60%;
  font-family: "FuturaPress", sans-serif;
  height: calc( 60px + ( 100 - 60 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

.play-btn .form-control-plaintext {
  font-size: 23px;
  color: #A63333;
  letter-spacing: 4px;
  width: 500px;
  margin: auto;
}

.play-btn .form-control-plaintext::-webkit-input-placeholder {
  color: #A63333;
}

.play-btn .form-control-plaintext::-moz-placeholder {
  color: #A63333;
}

.play-btn .form-control-plaintext:-ms-input-placeholder {
  color: #A63333;
}

.play-btn .form-control-plaintext::-ms-input-placeholder {
  color: #A63333;
}

.play-btn .form-control-plaintext::placeholder {
  color: #A63333;
}

/*-----LOGIN-----*/

#loginPage form .form-div {
  height: calc( 150px + ( 200 - 150 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

#loginPage form label {
  font-size: 23px;
  letter-spacing: 4.5px;
}

#loginPage form input {
  width: 100%;
  height: 93%;
  padding: 8px;
  padding-left: 10px;
  background-color: #E1E1E1 !important;
  border: 3px solid #A63333;
  border-radius: 20px;
  outline: none;
  color: #A63333;
}

#loginPage form a {
  color: #A63333;
  font-size: 17px;
  letter-spacing: 0.5px;
}

#loginPage .register {
  justify-content: space-evenly;
  align-items: center;
}

#loginPage .register .google-register,
#loginPage .register .default-register,
#loginPage .register .facebook-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A63333;
  border-radius: 999px;
  transition: all 0.4s ease-in-out;
  width: calc( 50px + ( 136 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
  height: calc( 50px + ( 136 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
}

#loginPage .register .google-register a,
#loginPage .register .default-register a,
#loginPage .register .facebook-register a {
  color: #E0E0E0;
  font-size: calc( 30px + ( 80 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
}

#loginPage .register .google-register svg,
#loginPage .register .default-register svg,
#loginPage .register .facebook-register svg {
  width: calc( 15px + ( 60 - 15 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
}

#loginPage .register .default-register:hover,
#loginPage .register .google-register:hover,
#loginPage .register .facebook-register:hover {
  transform: scale(1.25);
}

#loginPage .register .text {
  position: absolute;
  bottom: 0;
}

#loginPage .register p {
  color: #A63333;
  font-size: calc( 13px + ( 36 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
  margin: 0;
}

#loginPage .register:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0, #fff, transparent);
  border-radius: 999px;
  z-index: -1;
}

a.btn:focus {
  outline: none;
  box-shadow: none;
}

.back-btn i {
  color: #A63333;
  font-size: 58px;
}

.form-btn {
  margin-top: 50px;
  height: calc( 60px + ( 100 - 60 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

.form-btn button,
.form-btn p,
.form-btn input[type=submit] {
  display: flex;
  align-items: center;
  padding: 0 0.8em;
  color: #A63333;
  font-size: calc( 60px + ( 89 - 60 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
  letter-spacing: 14px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  position: relative;
  line-height: 1;
}

.form-btn button:after,
.form-btn button:before,
.form-btn p:after,
.form-btn p:before,
.form-btn input[type=submit]:after,
.form-btn input[type=submit]:before {
  content: "";
  width: 0.22em;
  height: 0.22em;
  background: #A63333;
  border-radius: 0.2em;
  position: absolute;
  right: 0;
}

.form-btn button:before,
.form-btn p:before,
.form-btn input[type=submit]:before {
  left: 0;
}

.form-btn button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.form-btn button:hover,
.form-btn button:focus,
.form-btn button:active {
  color: #A63333;
}

/*-----REGISTER-----*/

#registerPage .register {
  margin-top: calc( 150px + ( 200 - 150 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

#registerPage .register:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0, #fff, transparent);
  border-radius: 999px;
  z-index: -1;
}

#registerPage form label {
  font-size: calc( 13px + ( 23 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );
  letter-spacing: 4.5px;
}

#registerPage form input {
  width: 100%;
  height: 93%;
  padding: 8px;
  padding-left: 10px;
  background-color: #E1E1E1 !important;
  border: 3px solid #A63333;
  border-radius: 20px;
  outline: none;
  color: #A63333;
}

#registerPage form .conditions {
  letter-spacing: 1px;
}

#registerPage form .conditions a {
  color: #A63333;
}

#registerPage form .conditions + div {
  display: flex;
  justify-content: flex-start;
}

#registerPage form .conditions + div input {
  width: 40px;
  position: relative;
}

#registerPage form .conditions + div input:after {
  content: "";
  width: calc(32px + ( 40 - 32 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  height: calc(32px + ( 40 - 32 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  background-color: transparent;
  border: 3px solid #A63333;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#registerPage form .conditions + div label {
  display: flex;
  align-items: center;
}

/*-----PROFILE-----*/

.formContent {
  height: calc( 290px + ( 365 - 290 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
  position: relative;
  max-width: 1065px;
  margin: auto;
  justify-content: space-evenly;
  border-radius: 999px;
  -webkit-filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(30px 50px 50px rgba(0, 0, 0, 0.3));
  background: transparent;
  border: calc( 40px + ( 50 - 40 ) * ( 100vw - 991px ) / ( 1920 - 991 ) ) solid #eee;
  overflow: hidden;
}

.formContent:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0, #fff, transparent);
  border-radius: 999px;
  z-index: -1;
}

#profile .account-lvl {
  display: flex;
  align-items: center;
}

#profile .account-lvl > div {
  width: calc(50px + ( 140 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  height: calc(50px + ( 140 - 50 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  border-radius: 100px;
  border: 3px solid #A63333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profile .account-lvl > div .lvl {
  font-size: calc(11px + ( 20 - 11 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
}

#profile .account-lvl > div .lvl-count {
  height: 60%;
  font-size: calc(30px + ( 94 - 30 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  display: flex;
  align-items: center;
}

#profile .account-info {
  font-size: calc(20px + ( 30 - 20 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  letter-spacing: 0.5px;
}

#profile .account-info p {
  overflow: hidden;
}

#profile .account-info a {
  font-size: inherit;
  color: #A63333;
}

#profile .notifications p {
  font-size: calc(20px + ( 30 - 20 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  letter-spacing: 0.5px;
  padding-right: 10px;
}

#profile .notifications form div {
  align-items: center;
}

#profile .notifications form label {
  font-size: calc(13px + ( 16 - 13 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  letter-spacing: 0.5px;
  margin: 0;
  padding-right: 1em;
}

#profile #carousel .carousel-indicators {
  position: static;
}

#profile #carousel .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: auto;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  text-indent: 0;
  cursor: pointer;
  background-color: transparent;
  background-clip: padding-box;
  border-top: none;
  border-bottom: none;
  opacity: 1;
}

#profile #carousel ol {
  justify-content: space-evenly;
  align-items: baseline;
  width: 60%;
  margin: auto;
}

#profile #carousel ol li {
  list-style-type: none;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  position: relative;
}

#profile #carousel ol li p {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
}

#profile #carousel ol li.active {
  transform: scale(1.5);
}

#profile #carousel ol li.active p {
  display: block;
  opacity: 1;
}

#profile #carousel ol li.dot {
  cursor: default;
  pointer-events: none;
  flex-basis: 22px;
  height: 22px;
  background: #A63333;
  border-radius: 22px;
}

#profile #carousel .carousel-inner .carousel-item {
  padding: 3% 13% 13%;
}

#profile .formContent {
  margin-top: 0;
}

#profile .carousel-control-prev,
#profile .carousel-control-next {
  color: #A63333;
  font-size: 6em;
  opacity: 1;
}

#profile .transactions table {
  color: #A63333;
}

#profile .transactions table thead th {
  font-size: calc( 14px + ( 26 - 14 ) * (100vw - 320px) / 1600);
}

#profile .transactions table tbody tr td {
  font-size: calc( 12px + ( 19 - 12 ) * (100vw - 320px) / 1600);
}

#profile .transactions table tbody tr td:nth-of-type(1) {
  color: #000000;
  font-weight: bold;
}

#profile .transactions table tbody tr td:nth-of-type(2) {
  color: #A63333;
  font-weight: bold;
}

#profile .transactions table tbody tr td:nth-of-type(3) {
  color: #FFB200;
  font-weight: bold;
}

#profile .transactions table tbody tr td.stripe {
  color: #6772E5;
  font-size: 20px;
}

#profile .transactions table tbody tr td.bitcoin {
  color: #F7A70A;
  font-size: 20px;
}

#profile .transactions table tbody tr td.paypal {
  font-size: 20px;
}

#profile .transactions table tbody tr td.approved {
  color: #20B716;
  font-weight: bold;
}

#profile .transactions table tbody tr td.rejected {
  color: #FF0000;
  font-weight: bold;
}

#profile .transactions table tbody tr td.returned {
  color: #333EA6;
  font-weight: bold;
}

#profile .form-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/*-----COINS-----*/

#coin .formContent {
  margin-top: 0;
}

#coin .formContent div[data-id] {
  cursor: pointer;
}

#coin .coin-count {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
}

#coin .popular > div,
#coin .best {
  background-color: #A63333;
}

#coin .popular > div h4,
#coin .best h4 {
  color: #FFFFFF;
  position: absolute;
  font-size: 15px;
  text-align: center;
  top: 0;
}

#coin .best > div {
  background-color: #009223;
}

#coin .your-coins div.position-relative {
  text-align: center;
}

#coin .your-coins div.position-relative p {
  font-size: 45px;
  letter-spacing: 0.5px;
}

#coin .your-coins div.position-relative img {
  width: 85%;
  margin: auto;
}

#coin .your-coins p {
  font-size: 23px;
  letter-spacing: 4.5px;
}

#coin #payment_page {
  display: none;
}

#coin #payment_page .formContent p {
  font-size: calc( 18px + ( 27 - 18 ) * (100vw - 320px) / 1600 );
  letter-spacing: 0.5px;
}

#coin #payment_page .payment {
  font-size: 60px;
}

#coin #payment_page .stripeBtn {
  color: #6772E5;
  outline: none;
}

#coin #payment_page button:focus {
  box-shadow: none;
}

#coin #payment_page .bitcoinBtn {
  color: #F7A70A;
}

#coin #coin_success .formContent img {
  width: 90%;
}

#coin #coin_success .formContent h1 {
  font-size: calc( 23px + ( 43 - 23 ) * (100vw - 320px) / 1600 );
  letter-spacing: 1px;
}

#coin #coin_success .formContent p {
  font-size: calc( 16px + ( 23 - 16 ) * (100vw - 320px) / 1600 );
  letter-spacing: 1px;
}

#coin #coin_success .formContent p.coin-count {
  font-size: calc( 25px + ( 39 - 25 ) * (100vw - 320px) / 1600 );
  letter-spacing: 1px;
}

/*-----BOOSTS-----*/

#carousel .carousel-indicators {
  position: static;
}

#carousel .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: auto;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  text-indent: 0;
  cursor: pointer;
  background-color: transparent;
  background-clip: padding-box;
  border-top: none;
  border-bottom: none;
  opacity: 1;
}

#carousel ol {
  justify-content: space-evenly;
  align-items: baseline;
  width: 60%;
  margin: auto;
}

#carousel ol li {
  list-style-type: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
}

#carousel ol li p {
  display: none;
  opacity: 0;
}

#carousel ol li.active {
  transform: scale(1.5);
}

#carousel ol li.active p {
  display: block;
  opacity: 1;
}

#carousel ol li.dot {
  cursor: default;
  pointer-events: none;
  flex-basis: 22px;
  height: 22px;
  background: #A63333;
  border-radius: 22px;
}

#carousel .carousel-inner .carousel-item {
  padding: 3% 13% 13%;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
  color: #A63333;
  font-size: 6em;
  opacity: 1;
}

#boosts .form-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

#boosts .formContent {
  margin-top: 0;
}

#boosts .boosts-amount-slider,
#boosts .boosts-time-slider,
#boosts .boosts-coins-slider {
  width: auto;
  height: 90% !important;
  overflow: initial;
}

#boosts .boosts-amount-slider .swiper-slide,
#boosts .boosts-time-slider .swiper-slide,
#boosts .boosts-coins-slider .swiper-slide {
  opacity: 0.5;
  background-color: transparent;
  font-size: calc( 18px + ( 42 - 18 ) * (100vw - 991px) / (1920 - 991) );
  transition: font-size 0.3s ease-in-out;
}

#boosts .boosts-amount-slider .swiper-slide-active,
#boosts .boosts-time-slider .swiper-slide-active,
#boosts .boosts-coins-slider .swiper-slide-active {
  opacity: 1;
  font-size: calc( 30px + ( 72 - 30 ) * (100vw - 991px) / (1920 - 991) );
}

#boosts .boosts-amount-slider .swiper-button-next,
#boosts .boosts-amount-slider .swiper-button-prev,
#boosts .boosts-time-slider .swiper-button-next,
#boosts .boosts-time-slider .swiper-button-prev,
#boosts .boosts-coins-slider .swiper-button-next,
#boosts .boosts-coins-slider .swiper-button-prev {
  color: inherit;
  width: 100%;
  justify-content: center;
  left: 0;
  right: 0;
  font-size: 50px;
}

#boosts .boosts-amount-slider .swiper-button-next:after,
#boosts .boosts-amount-slider .swiper-button-prev:after,
#boosts .boosts-time-slider .swiper-button-next:after,
#boosts .boosts-time-slider .swiper-button-prev:after,
#boosts .boosts-coins-slider .swiper-button-next:after,
#boosts .boosts-coins-slider .swiper-button-prev:after {
  content: "";
}

#boosts .boosts-amount-slider .swiper-button-prev,
#boosts .boosts-time-slider .swiper-button-prev,
#boosts .boosts-coins-slider .swiper-button-prev {
  top: 0;
}

#boosts .boosts-amount-slider .swiper-button-next,
#boosts .boosts-time-slider .swiper-button-next,
#boosts .boosts-coins-slider .swiper-button-next {
  top: 98%;
}

#boosts .boosts-coins-slider .swiper-slide {
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
}

#boosts .boosts-coins-slider .swiper-slide img {
  border: 5px solid #DBDBDB;
  border-radius: 50%;
  width: calc( 65px + ( 90 - 65 ) * ( 100vw - 991px ) / ( 1920 - 991 ) );
}

#boosts .boosts-coins-slider .swiper-slide-active {
  transform: scale(1) translateY(-3px);
}

#boosts .boosts-coins-slider .swiper-slide-active img {
  box-shadow: 8px 1px 20px 6px rgba(0, 0, 0, 0.3019607843);
}

#boosts .boosts-time {
  color: #333BA6;
}

#boosts .boosts-coins {
  color: #FFB800;
}

#boosts .boosts-coins .boosts-coins-slider {
  position: relative;
}

#boosts .boosts-coins .boosts-coins-slider p {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
  font-size: calc( 20px + ( 30 - 20 ) * (100vw - 991px) / (1920 - 991));
  margin: 0;
}

#boosts .boosts-coins .get_boosts {
  background-color: #A63333;
  padding: 0 10px;
  border-radius: 50px;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
  font-size: 22px;
  line-height: 1.3;
  cursor: pointer;
}

#boosts .boost-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----SKINS-----*/

#skin #carousel ol li > .color {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 11px solid #1B00FF;
}

#skin #select_skin > div {
  position: relative;
}

#skin #select_skin > div i.fas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008000;
}

#skin #select_skin > div i.fa-lock {
  color: #76767a;
}

#skin #select_skin > div .getSkin {
  display: flex;
  position: relative;
}

#skin #select_skin > div .getSkin div.img {
  -webkit-filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.51));
          filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.51));
  position: absolute;
  z-index: -1;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: -1px;
  right: -164px;
  left: 0;
}

#skin #select_skin > div .getSkin div.img .coin-count {
  position: relative;
  z-index: 1;
  margin-left: 45px;
}

#skin #select_skin > div .getSkin div.img .coin-count h1 {
  position: absolute;
  z-index: 1;
  bottom: -5%;
  right: 15%;
  left: 15%;
  margin: auto;
  background-color: #A63333;
  border-radius: 30px;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
  font-size: 20px;
}

#skin #select_skin > div .getSkin div.img .coin-count span {
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skin #select_skin > div .getSkin .img > img {
  position: absolute;
}

#skin #select_skin > div .swiper-slide-active div.img {
  display: flex;
}

#skin .formContent {
  margin-top: 0;
}

#skin .formContent #carousel ol li p {
  position: absolute;
  left: 0;
  right: 0;
}

#skin .form-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

#skin .swiper-slide {
  transition: transform 0.3s ease-in-out;
  opacity: 0.5;
}

#skin .swiper-slide-active {
  z-index: 1;
  opacity: 1;
  transform: scale(1.75);
}

#get_success,
#get_error,
.get_success {
  display: none;
}

#get_success h1,
#get_error h1,
.get_success h1 {
  font-size: calc(23px + ( 43 - 23 ) * ( 100vw - 320px ) / 1600);
}

#get_success p,
#get_error p,
.get_success p {
  font-size: calc(13px + ( 23 - 13 ) * ( 100vw - 320px ) / 1600);
}

#get_success a,
#get_error a,
.get_success a {
  text-decoration: underline;
  color: #A63333;
  font-weight: bold;
}

/*-----GAME OVER-----*/

#game_over .xp h1,
#game_over .xp h2 {
  font-size: calc(50px + ( 85 - 50 ) * ( 100vw - 320px ) / 1600);
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}

#game_over .xp h2 {
  font-size: calc(16px + ( 23 - 16 ) * ( 100vw - 320px ) / 1600);
}

#game_over .kill h1 {
  font-size: calc(25px + ( 53 - 25 ) * ( 100vw - 320px ) / 1600);
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  background-color: #A63333;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
  border-radius: 50px;
  padding: 0 10px;
}

#game_over .kill h4 {
  margin-top: 1em;
  text-align: center;
  font-size: calc(16px + ( 22 - 16 ) * ( 100vw - 320px ) / 1600);
}

#game_over .coins p {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A63333;
  font-size: 22px;
}

.c-pointer {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .switrio div.img {
    height: calc( 290px + ( 365 - 290 ) * ( 100vw - 900px ) / ( 1200 - 900 ) );
  }
}

.mb-version {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.mb-version h1 {
  text-align: center;
}

@media (max-width: 991px) {
  .mb-version {
    display: flex;
  }

  main {
    display: none;
  }
}

